*{
    margin: 0%;
    padding: 0%;
}
.whole{
    height: 100vh;
}
.add{
    color: green;
    
}
.navBar{
    font-size: xx-large;
    color: white;
    background-color: green;
    height: 8vh;
    padding-top: 2vh;
    padding-left: 3vw;
}
.frstbx{
    border: 1px solid grey;
    min-height: 50vh;
    margin-top: 1vh;
    font-size: x-large;
    padding-left: 5vw;
    padding-top: 5vh;
    width: 60vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 5px;
}
.inptbox > input{
    height: 3vh;

}
.btn{
    background-color: black;
    color: white;
    border-radius: 5px;
height: 2vw;
width: 5vw;
cursor: pointer;

}
.fieldset{
    width: 50vw;
    padding: 1vw;
}